cifp.dtd

<!ELEMENT cifp (alumne*, professor*)>
<!ELEMENT alumne (nom, llinatges, data_naixement?, correu?, telefon?, adreca?, data_matricula, curs)>
<!ELEMENT professor (nom, llinatges, data_naixement?, correu?, telefon?, adreca?, data_incorporacio, departament, assignatura*)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreca (#PCDATA)>
<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>
<!ATTLIST alumne
    id CDATA #REQUIRED>
<!ELEMENT data_incorporacio (#PCDATA)>
<!ELEMENT departament (#PCDATA)>
<!ELEMENT assignatura (nom_assignatura, data_inici?, data_final?)>
<!ATTLIST assignatura
    id_assignatura CDATA #REQUIRED>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ATTLIST nom_assignatura
    cicle (DAM|DAW|ASIX|SMX|SEIA|ER|AUT) #REQUIRED>
<!ATTLIST professor
    id CDATA #REQUIRED>