PRACTICA-04/cifp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="cifp">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="alumne" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="professor" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="alumne">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom"/>
        <xs:element ref="llinatges"/>
        
        <xs:sequence minOccurs="0">
          <xs:element ref="data_naixement"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="correu"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="telefon"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="adreca"/>
        </xs:sequence>
        
        <xs:element ref="data_matricula"/>
        <xs:element ref="curs"/>
      </xs:sequence>
      
      <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="professor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom"/>
        <xs:element ref="llinatges"/>
        
        <xs:sequence minOccurs="0">
          <xs:element ref="data_naixement"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="correu"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="telefon"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="adreca"/>
        </xs:sequence>
        
        <xs:element ref="data_incorporacio"/>
        <xs:element ref="departament"/>
        
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="assignatura"/>
        </xs:sequence>
      </xs:sequence>
      
      <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="assignatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom_assignatura"/>
        
        <xs:sequence minOccurs="0">
          <xs:element ref="data_inici"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="data_final"/>
        </xs:sequence>
      </xs:sequence>
      
      <xs:attribute name="id_assignatura" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="nom_assignatura">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="cicle" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="DAM"/>
                <xs:enumeration value="DAW"/>
                <xs:enumeration value="ASIX"/>
                <xs:enumeration value="SMX"/>
                <xs:enumeration value="SEIA"/>
                <xs:enumeration value="ER"/>
                <xs:enumeration value="AUT"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nom" type="xs:string"/>
  <xs:element name="llinatges" type="xs:string"/>
  <xs:element name="data_naixement" type="xs:string"/>
  <xs:element name="correu" type="xs:string"/>
  <xs:element name="telefon" type="xs:string"/>
  <xs:element name="adreca" type="xs:string"/>
  <xs:element name="data_matricula" type="xs:string"/>
  <xs:element name="curs" type="xs:string"/>
  <xs:element name="data_incorporacio" type="xs:string"/>
  <xs:element name="departament" type="xs:string"/>
  <xs:element name="data_inici" type="xs:string"/>
  <xs:element name="data_final" type="xs:string"/>

</xs:schema>